#test_div {
  height: 700px;
  width: 700px;
  background-color: grey;
  padding-top: 20px;
  color: #999;
  margin-left: 100px;
}
#files_body {
  height: 30px;
  width: 80%;
  text-align: center;
  border-radius: 10px;
  border: 1px solid white;
}
.target-tools button,
.target-tools i {
  color: #999;
}
.target-div {
  height: 500px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  background-color: #f4f7ef;
  padding: 5px;
  font-size: 12px;
}
.target-div span {
  font-size: 12px;
}
.target-div .layui-btn {
  background-color: #f4f7ef;
}
.target-header {
  font-size: 13px;
}
.target-body {
  height: calc(100% - 180px);
  overflow: auto;
}
.target-body .nothing {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.target-body .folder-icon-item:hover {
  cursor: pointer;
  border: 1px solid #e6e6e6;
  margin: 9px;
  border-radius: 4px;
}
.target-body .folder-icon-item {
  float: left;
  margin: 10px;
  text-align: center;
  /* max-width: 80px; */
  width: 90px;
  height: 90px;
}
.target-body .folder-icon-item span {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.target-body .folder-icon-item .check {
  text-align: left;
  height: 13px;
  margin: 5px 0 0 5px;
}
.target-body .folder-list-item:hover {
  cursor: pointer;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
}
.target-body .folder-list-item {
  height: 20px;
  margin: 0px 0px 5px 10px;
}
.target-body .folder-list-item div {
  display: inline;
}
.target-body .folder-list-item span {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.target-body .folder-list-item input {
  vertical-align: -3px;
}
.target-footer {
  height: 95px;
}
.target-footer .checked-title {
  height: 98%;
  border-right: 1px solid #e6e6e6;
}
.target-footer .checked-path {
  padding-left: 10px;
  direction: rtl;
  overflow: auto;
  height: 95%;
}
.target-footer .checked-item-del {
  cursor: pointer;
}
.target-footer .folder-checked-item {
  direction: ltr;
  padding: 0px 5px;
  border-radius: 3px;
}
.target-footer .folder-checked-item:hover {
  background-color: #c7c6c547;
}
.target-footer .checked-item-del {
  text-align: right;
  margin-right: 10px;
}
.my-hr {
  margin: 3px 0px;
}
.folder-show {
  height: 100%;
}
.folder-info {
  height: 100%;
  border-left: 1px solid #e6e6e6;
}
.close,
.fast-tools {
  text-align: right;
}
.path-child:hover {
  cursor: pointer;
  text-decoration: underline;
}
.my-scrollbar::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 5px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}
.my-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #9e9e9e2b;
  /*滚动条里面小方块*/
}
.my-scrollbar::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #ededed;
}
